/* 顶部*/
html,
body {
  height: 100%;
}
body {
  padding-top: 45px;
  padding-bottom: 45px;
}
.topbar {
  height: 45px;
  width: 100%;
  background-color: #006699;
  color: #fff;
  text-align: center;
  line-height: 45px;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  top: 0;
}
.topbar .le_search {
  color: inherit;
  float: right;
  font-weight: 200;
}
/*页尾*/
footer {
  height: 45px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: #006699;
  padding-top: 5px;
}
footer a {
  display: block;
  float: left;
  width: 25%;
  color: #fff;
  text-align: center;
}
footer a .mui-icon {
  font-size: 16px;
}
footer a p {
  color: inherit;
  font-size: 12px;
}
footer .active {
  color: orangered;
}
